@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'settings/mixins/*scss';

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.catch-of-the-day {
  display: flex;
  justify-content: flex-start;

  .menu {
    border: 1px solid #000;
    height: 300px;
    width: 33%;
  }
  
  > p {
    border: 1px solid #000;
    height: 200px;
    width: 33%;
  }
}


// Exmplo de estrutura
// header {
//   @import 'components/*.scss';
//   @import 'modules/header-structure/*scss';
// }

// .master {
//   @import 'components/*.scss';
//   @import 'modules/main-banner/*scss';
//   @import 'modules/product-list/*scss';
//   @import 'modules/second-banner/*scss';
// }

// footer {
//   @import 'modules/copyright/*scss';
// }